{% extends 'home/base.html' %}

{% block title %}About Us{% endblock %}
{% block aboutactive %}active{% endblock aboutactive %}
{% block body %}
<main role="main">

  <!-- Main jumbotron for a primary marketing message or call to action -->
  <div class="jumbotron text-center">
    <div class="container">
    {% load static %}
    <img src="{% static 'home/img/home-logo.png' %}">
      <h1 class="display-3">Shop N Blog</h1>
      <p>Shop N Blog is a common platform for an Shopping and Blogging. It provides two platforms: <b>Shop</b> and <b>Blog</b>.</p>
      {% comment %} <p><a class="btn btn-primary btn-lg" href="#" role="button">Learn more »</a></p> {% endcomment %}
    </div>
  </div>

  <div class="container">
    <!-- Example row of columns -->
    <div class="row">
      <div class="col-md-4">
        <h2>Shop</h2>
        <p>Shop is place where users can explore for desirable items, can buy, can add to cart items, can track orders. A better place for online shoping.</p>
        {% comment %} <p><a class="btn btn-secondary" href="#" role="button">View details »</a></p> {% endcomment %}
      </div>
      <div class="col-md-4">
        <h2>Home</h2>
        <p>Home is a place where new users can register to try this experience and existing users can login to continue using the services. People can also manage their profiles.</p>
        {% comment %} <p><a class="btn btn-secondary" href="#" role="button">View details »</a></p> {% endcomment %}
      </div>
      <div class="col-md-4">
        <h2>Blog</h2>
        <p>Blog is a place where users can view different blogs, written by different users. Even users can publish their own blogs and can also share their reviews by commenting on someone's blogs.</p>
        {% comment %} <p><a class="btn btn-secondary" href="#" role="button">View details »</a></p> {% endcomment %}
      </div>
    </div>

    <hr>

  </div> <!-- /container -->

</main>
{% endblock %}