{% extends 'home/base.html' %}
{% block title %}Forgot Password{% endblock %}
{% block css %}
.forgot_password, .form_validate_otp, .form_reset_password {
width: 100%;
max-width: 495px;
padding: 15px;
margin: auto;
}
.forgot_password .text-center , .form_validate_otp .textcenter, .form_reset_password .text-center {
text-align: center!important;
}
.forgot_password .mb-4, .forgot_password .my-4, .form_validate_otp .mb-4, .form_validate_otp .my-4, .form_reset_password .mb-4, .form_reset_password .my-4 {
margin-bottom: 1.5rem!important;
}
.forgot_password img, .form_validate_otp img, .form_reset_password img{
vertical-align: middle;
border-style: none;
}
.forgot_password .font-weight-normal, .form_validate_otp .font-weight-normal, .form_reset_password .font-weight-normal {
font-weight: 400!important;
}
.forgot_password .text-center p, .form_validate_otp .text-center p, .form_reset_password .text-center p {
margin-top: 0;
margin-bottom: 1rem;
}
.forgot_password .form-label-group, .form_validate_otp .form-label-group, .form_reset_password .form-label-group {
position: relative;
margin-bottom: 1rem;
}
.forgot_password .form-label-group > input, .form-label-group > label, .form_validate_otp .form-label-group > input,
.form-label-group > label, .form_reset_password .form-label-group > input, .form-label-group > label {
height: 3.125rem;
padding: .75rem;
}
.forgot_password .form-control, .form_validate_otp .from-control, .form_reset_password .form-control {
display: block;
width: 100%;
height: calc(1.5em + .75rem + 2px);
padding: .375rem .75rem;
font-size: 1rem;
font-weight: 400;
line-height: 1.5;
color: #495057;
background-color: #fff;
background-clip: padding-box;
border: 1px solid #ced4da;
border-radius: .25rem;
transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}
.forgot_password .form-label-group > label, .form_validate_otp .form-label-group > label, .form_reset_password .form-label-group > label {
position: absolute;
top: 0;
left: 0;
display: block;
width: 100%;
margin-bottom: 0;
line-height: 1.5;
color: #495057;
pointer-events: none;
cursor: text;
border: 1px solid transparent;
border-radius: .25rem;
transition: all .1s ease-in-out;
}
.forgot_password .form-label-group input::-webkit-input-placeholder, .form_validate_otp .form-label-group
input::-webkit-input-placeholder, .form_reset_password .form-label-group input::-webkit-input-placeholder {
color: transparent;
}

.forgot_password .form-label-group input:-ms-input-placeholder, .form_validate_otp .form-label-group
input:-ms-input-placeholder, .form_reset_password .form-label-group input:-ms-input-placeholder {
color: transparent;
}

.forgot_password .form-label-group input::-ms-input-placeholder, .form_validate_otp .form-label-group
input::-ms-input-placeholder, .form_reset_password .form-label-group input::-ms-input-placeholder {
color: transparent;
}

.forgot_password .form-label-group input::-moz-placeholder, .form_validate_otp .form-label-group input::-moz-placeholder, .form_reset_password .form-label-group input::-moz-placeholder {
color: transparent;
}

.forgot_password .form-label-group input::placeholder, .form_validate_otp .form-label-group input::placeholder, .form_reset_password .form-label-group input::placeholder {
color: transparent;
}

.forgot_password .form-label-group input:not(:placeholder-shown), .form_validate_otp .form-label-group
input:not(:placeholder-shown), .form_reset_password .form-label-group input:not(:placeholder-shown) {
padding-top: 1.25rem;
padding-bottom: .25rem;
}

.forgot_password .form-label-group input:not(:placeholder-shown) ~ label, .form_validate_otp .form-label-group
input:not(:placeholder-shown) ~ label, .form_reset_password .form-label-group
input:not(:placeholder-shown) ~ label {
padding-top: .25rem;
padding-bottom: .25rem;
font-size: 12px;
color: #777;
}
{% endblock css %}

{% block body %}
{% load static %}
<div class="container">
    <div class="text-center my-4">
        <img class="d-block mx-auto my-4" src="{% static 'home/img/home-logo.png' %}" alt="">
        <h1 class="my-3">Forgot Password?</h1>
        <h1 class="h3 mb-3 font-weight-normal">Provide mobile number and reset password</h1>
    </div>

    <form class="forgot_password" id="password_forgot" action="#" method="post" novalidate="">{% csrf_token %}
        <div class="form-label-group">
            <input type="tel" class="form-control" id="mobile" name="mobile"
                placeholder="Mobile Number" required="" autofocus="">
            <label for="mobile">Mobile Number</label>
        </div>
        <button id="submit_request" class="btn btn-lg btn-dark btn-block" type="submit">Send OTP</button>
        <div class="text-center">
            <div id="otp-message" class="mt-2"></div>
        </div>
        <a style="display:none;" class="btn btn-dark btn-lg btn-block verify_mobile mt-2" data-toggle="collapse"
            href="#passwordReset" role="button" aria-expanded="false" aria-controls="collapseExample">Enter OTP</a>
    </form>
    <div class="collapse" id="passwordReset">
        <form method="post" action="#" class="form_validate_otp" id="validate_otp_form" novalidate="">
            {% csrf_token %}
            <div class="form-label-group">
                <input type="text" name="user_otp" class="form-control" id="user_otp"
                    placeholder="Enter OTP" required="">
                <label for="user_otp">OTP</label>
            </div>
            <button type="submit" id="validate_button" class="btn btn-dark btn-lg btn-block mt-2">Validate</button>
            <div class="text-center">
                <div id="otp-message-validate" class="mt-2"></div>
            </div>
            <a style="display:none;" class="btn btn-dark btn-lg btn-block setPassword mt-2" data-toggle="collapse"
            href="#setpasswordReset" role="button" aria-expanded="false" aria-controls="collapseExample">Enter Password</a>
        </form>
    </div>

    <div class="collapse" id="setpasswordReset">
    <div class="text-center">
        Password Reset for user: <b><span id="password_reset_username"></span></b>
    </div>
    <form class="form_reset_password" id="reset_password_form" action="#" method="post" novalidate="">{% csrf_token %}
        <div class="form-label-group">
            <input type="password" class="form-control" id="password1" name="password1" placeholder="New Password"
                required="" autofocus="">
            <label for="password1">New Password</label>
        </div>

        <div class="form-label-group">
            <input type="password" class="form-control" id="password2" name="password2"
                placeholder="Confirm New Password" required="">
            <label for="password2">Confirm New Password</label>
        </div>

        <button id="submit_password_reset" class="btn btn-lg btn-dark btn-block" type="submit">Reset Password</button>
        <div class="text-center">
                <div id="reset-password-validate" class="mt-2"></div>
            </div>
    </form>
    </div>
</div>
{% endblock body %}

{% block js %}
<script>
    $("#password_forgot").submit(function (event) {
        var formData = {
            "mobile": $("#mobile").val(),
            "csrfmiddlewaretoken": $("input[name=csrfmiddlewaretoken]").val()
        };
        $.ajax({
            url: '/home/forgotPassword',
            type: 'post',
            data: formData,
            beforeSend: function () {
                $('#otp-message').html(
                    '<img src="https://shopnblogbucket.s3.ap-south-1.amazonaws.com/static/home/img/Loader.gif" width="20" height="20"/>'
                );
            },
            success: function (msg) {
                if (msg.status == "success") {
                    setTimeout(function () {
                        $("#otp-message").html(`<span style='font-size: 80%; color: #28a745;'>${msg.message}</span>`);
                        $(".verify_mobile").show();
                        $("input[name=mobile]").focus();
                        $(":focus").css({ "border-color": "green", "outline": 0, "box-shadow": "inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgb(40, 167, 69)" });
                    }, 2000);
                } else {
                    setTimeout(function () {
                        $("#otp-message").html(`<span style='font-size: 80%; color: #dc3545;'>${msg.message}</span>`);
                        $(".verify_mobile").hide();
                        $("input[name=mobile]").focus();
                        $(":focus").css({ "border-color": "red", "outline": 0, "box-shadow": "inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgb(220, 53, 69)" });
                    }, 2000);
                } 
            }
        });
        event.preventDefault();
    });

    $("#validate_otp_form").submit(function (event) {
        $("#password_reset_username").empty();
        var formData = {
            "mobile": $("#mobile").val(),
            "user_otp": $("#user_otp").val(),
            "csrfmiddlewaretoken": $("input[name=csrfmiddlewaretoken]").val()
        };
        $.ajax({
            url: '/home/validateForgotPasswordOtp',
            type: 'post',
            data: formData,
            beforeSend: function () {
                $('#otp-message-validate').html(
                    '<img src="https://shopnblogbucket.s3.ap-south-1.amazonaws.com/static/home/img/Loader.gif" width="20" height="20"/>'
                );
            },
            success: function (msg) {
                if (msg.status == "success") {
                    setTimeout(function () {
                        $("#otp-message-validate").html(`<span style='font-size: 80%; color: #28a745;'>${msg.message}</span>`);
                        $(".setPassword").show();
                        $("#password_reset_username").append(msg.user);
                        $("input[name=user_otp]").focus();
                        $(":focus").css({ "border-color": "green", "outline": 0, "box-shadow": "inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgb(40, 167, 69)" });
                    }, 2000);
                } else {
                    setTimeout(function () {
                        $("#otp-message-validate").html(`<span style='font-size: 80%; color: #dc3545;'>${msg.message}</span>`);
                        $(".setPassword").hide();
                        $("input[name=user_otp]").focus();
                        $(":focus").css({ "border-color": "red", "outline": 0, "box-shadow": "inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgb(220, 53, 69)" });
                    }, 2000);
                }
            }
        });
        event.preventDefault();
    });

   $("#reset_password_form").submit(function (event) {
        var formData = {
            "mobile": $("#mobile").val(),
            "password1": $("#password1").val(),
            "password2": $("#password2").val(),
            "csrfmiddlewaretoken": $("input[name=csrfmiddlewaretoken]").val()
        };
        $.ajax({
            url: '/home/resetPassword',
            type: 'post',
            data: formData,
            beforeSend: function () {
                $('#reset-password-validate').html(
                    '<img src="https://shopnblogbucket.s3.ap-south-1.amazonaws.com/static/home/img/Loader.gif" width="20" height="20"/>'
                );
            },
            success: function (msg) {
                if (msg.status == "success") {
                    setTimeout(function () {
                        $("#reset-password-validate").html(`<span style='font-size: 80%; color: #28a745;'>${msg.message}</span>`);
                        $("input[name=password1]").focus();
                        $(":focus").css({ "border-color": "green", "outline": 0, "box-shadow": "inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgb(40, 167, 69)" });
                        $("input[name=password2]").focus();
                        $(":focus").css({ "border-color": "green", "outline": 0, "box-shadow": "inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgb(40, 167, 69)" });
                        setTimeout(function () {
                            document.location = "/home";
                        }, 2000);
                    }, 2000);
                } else {
                    setTimeout(function () {
                        $("#reset-password-validate").html(`<span style='font-size: 80%; color: #dc3545;'>${msg.message}</span>`);
                        $("input[name=password1]").focus();
                        $(":focus").css({ "border-color": "red", "outline": 0, "box-shadow": "inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgb(220, 53, 69)" });
                        $("input[name=password2]").focus();
                        $(":focus").css({ "border-color": "red", "outline": 0, "box-shadow": "inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgb(220, 53, 69)" });
                    }, 2000);
                }
            }
        });
        event.preventDefault();
    });
</script>
{% endblock js %}