{% extends 'home/base.html' %}
{% block title %}Home{% endblock title %}
{% block css %}
.jumbotron.home{background-color:#424E5A;}
{% endblock css %}
{% block body %}
{% load static %}
<main role="main">

    <!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="jumbotron home text-center">
        <div class="container">
            <img src="{% static 'home/img/home-logo.png' %}">
            <section class="pen">
                <h1 class="display-3">
                    <span id="typed" style="color: white;"></span>
                </h1>
                <p style="color: white;">It is combined platform for E-commerce and Blogs. You can enjoy online shopping as well as blogging
                    by visiting two different panels on the website, i.e., Apnakart &amp; Devastator Blogs</p>
            </section>
        </div>
    </div>

    <div class="container">
        <!-- Example row of columns -->
        <div class="row">
            <div class="card mx-auto my-2 p-2 align-items-center" style="width: 18rem;">
                <img src="{% static 'home/img/online-cart.jpg' %}" class="padded card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title text-center">Apnakart</h5>
                    <p class="card-text text-center">The place where you can explore for your desirable items, buy them
                        and can try them. A better place for Online Shoping.</p>
                    <a href="/shop/" class="btn btn-danger d-block">Apnakart</a>
                </div>
            </div>
            <div class="card mx-auto my-2 p-2 align-items-center" style="width: 18rem;">
                <img src="{% static 'home/img/signup.jpg' %}" class="padded card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title text-center">Home</h5>
                    <p class="card-text text-center">If you are new to this platform, please Sign Up. If you are an
                        existing user, please Sign In and enjoy the services.</p>
                    <a href="/home/signup" class="btn btn-secondary d-block">Sign Up</a>
                    <a href="/home/signin" class="btn btn-warning d-block mt-2">Sign In</a>
                </div>
            </div>
            <div class="card mx-auto my-2 p-2 align-items-center" style="width: 18rem;">
                <img src="{% static 'home/img/home-blogs.jpg' %}" class="padded card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title text-center">Devastator Blogs</h5>
                    <p class="card-text text-center">A place where you can give your views in form of blogs and can
                        publish them for
                        sharing your ideas with others.</p>
                    <a href="/blog" class="btn btn-success d-block">Devastator Blogs</a>
                </div>
            </div>
        </div>
        <hr>

    </div> <!-- /container -->

</main>
{% endblock body %}

{% block js %}
<script>
    window.onload = function () {
        var typed2 = new Typed('#typed', {
            strings: ["Welcome to Shop 'N' Blog", "It is a platform for Online Commerce and Blogs", "You can Shop", "You can Blog", "Or you can do both", "Please try out this awesome experience :)"],
            backSpeed: 15,
            smartBackspace: true,
            backDelay: 1200,
            startDelay: 1000,
            typeSpeed: 25,
            loop: true,
        });
    };
</script>
{% endblock js %}