<!DOCTYPE html>
<body>
    {% load static %}
        <a class="navbar-brand" href="#"><img src="{% static 'shopping/img/home-logo.png' %}"></a>
    <div class="container">
        <div class="text-center">
            <h1>Welcome to Shop N Blog</h1>
            <h2>Hi {{user.username}}</h2>
            <h3>Please click on the link below to activate your account:</h3>
            <h5>{{activate_url}}</h5>
            <h4>Regards</h4>
            <h4>Shop N Blog Team</h4>
    </div>
</body>

</html>
