{% extends 'home/base.html' %}
{% block title %}Sign Up{% endblock title %}
{% block css %}
.form-signup {
width: 100%;
max-width: 495px;
padding: 15px;
margin: auto;
}
.form-signup .text-center {
text-align: center!important;
}
.form-signup .mb-4, .form-signup .my-4 {
margin-bottom: 1.5rem!important;
}
.form-signup img{
vertical-align: middle;
border-style: none;
}
.form-signup .font-weight-normal {
font-weight: 400!important;
}
.form-signup .text-center p {
margin-top: 0;
margin-bottom: 1rem;
}
.form-signup .form-label-group {
position: relative;
margin-bottom: 1rem;
}
.form-signup .form-label-group > input, .form-label-group > label {
height: 3.125rem;
padding: .75rem;
}
.form-signup .form-control {
display: block;
width: 100%;
height: calc(1.5em + .75rem + 2px);
padding: .375rem .75rem;
font-size: 1rem;
font-weight: 400;
line-height: 1.5;
color: #495057;
background-color: #fff;
background-clip: padding-box;
border: 1px solid #ced4da;
border-radius: .25rem;
transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}
.form-signup .form-label-group > label {
position: absolute;
top: 0;
left: 0;
display: block;
width: 100%;
margin-bottom: 0;
line-height: 1.5;
color: #495057;
pointer-events: none;
cursor: text;
border: 1px solid transparent;
border-radius: .25rem;
transition: all .1s ease-in-out;
}
.form-signup .form-label-group input::-webkit-input-placeholder {
color: transparent;
}

.form-signup .form-label-group input:-ms-input-placeholder {
color: transparent;
}

.form-signup .form-label-group input::-ms-input-placeholder {
color: transparent;
}

.form-signup .form-label-group input::-moz-placeholder {
color: transparent;
}

.form-signup .form-label-group input::placeholder {
color: transparent;
}

.form-signup .form-label-group input:not(:placeholder-shown) {
padding-top: 1.25rem;
padding-bottom: .25rem;
}

.form-signup .form-label-group input:not(:placeholder-shown) ~ label {
padding-top: .25rem;
padding-bottom: .25rem;
font-size: 12px;
color: #777;
}
{% endblock css %}
{% block homeactive %}active{% endblock homeactive %}


{% block body %}
{% load static %}
<div class="container">
  <div class="text-center my-3">
    <img class="d-block mx-auto my-4" src="{% static 'shopping/img/home-logo.png' %}" alt="">
    <h1 class="my-4">New to Apnakart &amp; Devastator Blogs!</h1>
    <h1 class="h3 mb-3 font-weight-normal">Please Sign Up</h1>
  </div>
  <form class="form-signup" id="signup-form" action="/home/signup" method="post" novalidate="">
    {% csrf_token %}


    <div class="form-label-group">
      <input type="text" class="form-control" id="username" name="username" required="" placeholder="Username"
        autofocus="">
      <label for="username">Username</label>
      <span class="error_username"></span>
      <div class="valid-feedback" id="username_valid" style="display:none">Username Available</div>
      <div class="invalid-feedback" id="username_response" style="display:none">Username Unavailable. Should contain: altleast 1 alphabet and 1 numeric</div>
      <div class="invalid-feedback">This is a required field.</div>
    </div>

    <div class="form-label-group">
      <input type="text" class="form-control" pattern="^[A-Za-z. ]{3,20}$" id="firstname" name="firstname" placeholder="First Name" required="">
      <label for="firstname">First Name</label>
      <span class="error_fname"></span>
      <div class="invalid-feedback">Should contain: atleast 3 albhabets. No numeric allowed</div>
    </div>

    <div class="form-label-group">
      <input type="text" class="form-control" id="lastname" pattern="^[A-Za-z. ]{3,20}$" name="lastname" placeholder="Last Name" required="">
      <label for="lastname">Last Name</label>
      <span class="error_lname"></span>
      <div class="invalid-feedback">Should contain: atleast 3 albhabets. No numeric allowed</div>
    </div>

    <div class="form-label-group">
      <input type="email" class="form-control" id="email" pattern="^[\w%_\-.\d]+@[\w.\-]+.[A-Za-z]{2,6}$" name="email" placeholder="Email Address" required="">
      <label for="email">Email Address</label>
      <span class="error_email"></span>
      <div class="invalid-feedback">Email should be in the format abc@domain.tld.</div>
    </div>

    <div class="form-label-group">
      <input type="password" class="form-control pwds" id="password1" pattern="^(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}$" name="password1" placeholder="Password"
        required="">
      <label for="password1">Password</label>
      <span class="error_password1"></span>
      <div class="invalid-feedback">Should contain atleast 1 uppercase, 1 lowecase and 1 numeric. Special characters allowed.</div>
    </div>

    <div class="form-label-group">
      <input type="password" class="form-control pwds" id="password2" placeholder="Confirm Password" name="password2"
        required="">
      <label for="password2">Confirm Password</label>
      <span class="error_password2"></span>
      <div class="invalid-feedback">This is a required field.</div>
    </div>

    <div class="form-label-group">
      <input type="text" class="form-control" id="day" pattern="^[0-9].{1,1}$" name="day" placeholder="Day of Birth" required="">
      <label for="day">Day of Birth</label>
      <span class="error_day"></span>
      <div class="invalid-feedback">Should contain day in the format dd say 01</div>
    </div>

    <div class="form-label-group">
      <input type="text" class="form-control" id="month" pattern="^[0-9].{1,1}$" name="month" placeholder="Month of Birth" required="">
      <label for="month">Month of Birth</label>
      <div class="invalid-feedback">Should contain month in the format mm say 01</div>
      <span class="error_month"></span>
    </div>

    <div class="form-label-group">
      <input type="text" class="form-control" id="year" pattern="^[0-9].{3,3}$" name="year" placeholder="Year of Birth" required="">
      <label for="year">Year of Birth</label>
      <span class="error_year"></span>
      <div class="invalid-feedback">Should contain year in the format yyyy say 1995</div>
    </div>

    <div class="form-group">
      <div class="gender mx-3">
        <label for="gender">Gender</label>
        <div class="form-check form-check-inline">
          <input class="form-check-input mx-3" type="radio" name="gender" id="male" value="M"
            {% if request.user.profile.gender == "M" %} checked {% endif %} required="">
          <label class="form-check-label" for="male">Male</label>
        </div>
        <div class="form-check form-check-inline">
          <input class="form-check-input" type="radio" name="gender" id="female" value="F"
            {% if request.user.profile.gender == "F" %} checked {% endif %} required="">
          <label class="form-check-label" for="female">Female</label>
        </div>
      </div>
      <div class="invalid-feedback">This is a required field.</div>
    </div>

    <button id="submit-button" name="submit" class="btn btn-lg btn-dark btn-block" type="submit">Sign Up</button>
  </form>
</div>
{% endblock body %}

{% block js %}
<script>
    $(document).ready(function(){
  $("#username").on("blur", function(){
  var formData = {
              "username": $("#username").val(),
              "csrfmiddlewaretoken": $("form#signup-form input[name=csrfmiddlewaretoken]").val()
            };
  $.ajax({
            url: '/home/signupcheck',
            type: 'post',
            data: formData,
            success: function (msg) {
              var hasNumber = /\d/;
              if((msg == "OK") && ((formData.username).length > 4) && (hasNumber.test(formData.username)))
        {
            $("#username_valid").show()
            $("#username_response").hide()
        }
        else
        {
             $("#username_valid").hide()
            $("#username_response").show()
            $("#username").val("");    
        }
    }

          });
        });

        $('#password1, #password2').on('blur', function () {
          if ($('#password1').val() != '' && $('#password2').val() != '' && $('#password1').val() == $('#password2').val()) {
            $('.error_password2').html('Password Matching').css({'font-size': '80%', 'color': '#28a745'});
            } else {
            $('.error_password2').html('Password Not Matching').css({'font-size': '80%', 'color': '#dc3545'});
            $("#password2").val("");
            }
            });

        let currForm1 = document.getElementById('signup-form');
        // Validate on submit:
        currForm1.addEventListener('submit', function(event) {
          if (currForm1.checkValidity() === false) {
            event.preventDefault();
            event.stopPropagation();
          }
          currForm1.classList.add('was-validated');
        }, false);
        // Validate on input:
        currForm1.querySelectorAll('.form-control').forEach(input => {
          input.addEventListener(('input'), () => {
            if (input.checkValidity()) {
              input.classList.remove('is-invalid')
              input.classList.add('is-valid');
            } else {
              input.classList.remove('is-valid')
              input.classList.add('is-invalid');
            }

          });
        });
      });

</script>
{% endblock %}