{% extends 'home/base.html' %}
{% block title %}Sign Up{% endblock title %}
{% block css %}
.form-signup {
width: 100%;
max-width: 495px;
padding: 15px;
margin: auto;
}
.form-signup .text-center {
text-align: center!important;
}
.form-signup .mb-4, .form-signup .my-4 {
margin-bottom: 1.5rem!important;
}
.form-signup img{
vertical-align: middle;
border-style: none;
}
.form-signup .font-weight-normal {
font-weight: 400!important;
}
.form-signup .text-center p {
margin-top: 0;
margin-bottom: 1rem;
}
.form-signup .form-label-group {
position: relative;
margin-bottom: 1rem;
}
.form-signup .form-label-group > input, .form-label-group > label {
height: 3.125rem;
padding: .75rem;
}
.form-signup .form-control {
display: block;
width: 100%;
height: calc(1.5em + .75rem + 2px);
padding: .375rem .75rem;
font-size: 1rem;
font-weight: 400;
line-height: 1.5;
color: #495057;
background-color: #fff;
background-clip: padding-box;
border: 1px solid #ced4da;
border-radius: .25rem;
transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}
.form-signup .form-label-group > label {
position: absolute;
top: 0;
left: 0;
display: block;
width: 100%;
margin-bottom: 0;
line-height: 1.5;
color: #495057;
pointer-events: none;
cursor: text;
border: 1px solid transparent;
border-radius: .25rem;
transition: all .1s ease-in-out;
}
.form-signup .form-label-group input::-webkit-input-placeholder {
color: transparent;
}

.form-signup .form-label-group input:-ms-input-placeholder {
color: transparent;
}

.form-signup .form-label-group input::-ms-input-placeholder {
color: transparent;
}

.form-signup .form-label-group input::-moz-placeholder {
color: transparent;
}

.form-signup .form-label-group input::placeholder {
color: transparent;
}

.form-signup .form-label-group input:not(:placeholder-shown) {
padding-top: 1.25rem;
padding-bottom: .25rem;
}

.form-signup .form-label-group input:not(:placeholder-shown) ~ label {
padding-top: .25rem;
padding-bottom: .25rem;
font-size: 12px;
color: #777;
}
{% endblock css %}

{% block body %}
<div class="container">
  <form class="form-signup" id="signup-form" action="/home/signup" method="post" novalidate="">{% csrf_token %}
    <div class="text-center mb-4">
      {% comment %} <img class="mb-4" src="/docs/4.5/assets/brand/bootstrap-solid.svg" alt="" width="72" height="72">
      {% endcomment %}
      <h1 class="my-3">New to Apnakart &amp; Devastator Blogs!</h1>
      <h1 class="h3 mb-3 font-weight-normal">Please Sign Up</h1>
    </div>

    <div class="form-label-group">
      <input type="text" class="form-control" pattern="^(?=.*[a-zA-Z])(?=.*[0-9])[a-zA-Z0-9]+$" id="username"
        name="username" placeholder="Username" required="" autofocus="">
      <label for="username">Username</label>
      <!-- <div class="valid-feedback" id="username_valid" style="display:none">Username Available</div> -->
      <!-- <div class="invalid-feedback" id="username_response" style="display:none">Username Unavailable</div> -->
      <div class="invalid-feedback">
        Username invalid. Should contain: altleast 1 alphabet and 1 numeric
      </div>
      <span class="error_username"></span>
    </div>

    <div class="form-label-group">
      <input type="text" class="form-control" pattern="^[A-Za-z. ]{3,20}$" id="firstname" name="firstname"
        placeholder="First Name" required="">
      <label for="firstname">First Name</label>
      <div class="valid-feedback">Done</div>
      <div class="invalid-feedback">
        First name invalid. Should contain: atleast 3 albhabets. No numeric allowed
      </div>
      <span class="error_fname"></span>
    </div>

    <div class="form-label-group">
      <input type="text" class="form-control" pattern="^[A-Za-z. ]{3,20}$" id="lastname" name="lastname"
        placeholder="Last Name" required="">
      <label for="lastname">Last Name</label>
      <div class="valid-feedback">Done</div>
      <div class="invalid-feedback">
        Last name invalid. Should contain: atleast 3 albhabets. No numeric allowed
      </div>
      <span class="error_lname"></span>
    </div>

    <div class="form-label-group">
      <input type="email" class="form-control" id="email" name="email" placeholder="Email Address" required="">
      <label for="email">Email Address</label>
      <div class="valid-feedback">Done</div>
      <div class="invalid-feedback">
        Email invalid. Should contain atleast 3 characters.
      </div>
      <span class="error_email"></span>
    </div>

    <div class="form-label-group">
      <input type="password" pattern="^(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}$" class="form-control pwds" id="password1"
        name="password1" placeholder="Password" required="">
      <label for="password1">Password</label>
      <div class="valid-feedback">Done</div>
      <div class="invalid-feedback" id="pwd1invalid">
        Password invalid. Should contain atleast 1 uppercase, 1 lowecase and 1 numeric. Special characters allowed
      </div>
      <span class="error_password1"></span>
    </div>

    <div class="form-label-group">
      <input type="password" pattern="^(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}$" class="form-control pwds" id="password2"
        name="password2" placeholder="Confirm Password" required="">
      <label for="password2">Confirm Password</label>
      <div id="pwd2valid" class="valid-feedback">Password Matched</div>
      <div id="pwd2invalid" class="invalid-feedback">
        Password Didn't Matched
      </div>
      <span class="error_password2"></span>
    </div>

    <button id="submit-button" name="submit" class="btn btn-lg btn-dark btn-block" type="submit">Sign Up</button>
  </form>
</div>
{% endblock body %}

{% block js %}
<script>
  $(document).ready(function () {
    $("form#signup-form button[name=submit]").on("click", function () {

      var validation_holder = 0;
      var username = $("form#signup-form input[name='username']").val();
      var username_regex = /^(?=.*[a-zA-Z])(?=.*[0-9])[a-zA-Z0-9]+$/;
      var fname = $("form#signup-form input[name='firstname']").val();
      var fname_regex = /^[A-Za-z. ]{5,20}$/;
      var lname = $("form#signup-form input[name='lastname']").val();
      var lname_regex = /^[A-Za-z. ]{5,20}$/;
      var email = $("form#signup-form input[name='email']").val();
      var email_regex = /^[\w%_\-.\d]+@[\w.\-]+.[A-Za-z]{2,6}$/;
      var password1 = $("form#signup-form input[name='password1']").val();
      var password1_regex = /^(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}$/;
      var password2 = $("form#signup-form input[name='password2']").val();
      var password2_regex = /^[ A-Za-z0-9_@.\#&+-]{20,}$/;

      if (username == "") {
        $("span.error_username").html("<span style='font-size: 80%; color: #dc3545;'>This is a required field.</span>").addClass('validate');
        $("input[name=username]").focus();
        $(":focus").css({ "border-color": "red", "outline": 0, "box-shadow": "inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgb(220, 53, 69)" });
        validation_holder = 1;
        $("#username").val("");
      } else {
        if (!username_regex.test(username)) {
          $("span.error_username").html("<span style='font-size: 80%; color: #dc3545;'>Username invalid. Should contain: altleast 1 alphabet and 1 numeric.</span>").addClass('validate');
          $("input[name=username]").focus();
          $(":focus").css({ "border-color": "red", "outline": 0, "box-shadow": "inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgb(220, 53, 69)" });
          validation_holder = 1;
          $("#username").val("");
        } else {

          $.ajax({
            url: '/home/signupcheck',
            type: 'post',
            data: {
              "username": username,
              "csrfmiddlewaretoken": $("form#signup-form input[name=csrfmiddlewaretoken]").val()
            },
            success: function (msg) {
              if ((msg != "OK")) {
                $("span.error_username").html("<span style='font-size: 80%; color: #dc3545;'>Username unavailable.</span>").addClass('validate');
                $("input[name=username]").focus();
                $(":focus").css({ "border-color": "red", "outline": 0, "box-shadow": "inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgb(220, 53, 69)" });
                $("#username").val("");
                validation_holder = 1;
              }
              else {
                $("span.error_username").html("<span style='font-size: 80%; color: #28a745;'>Username available.</span>");
                $("input[name=username]").focus();
                $(":focus").css({ "border-color": "green", "outline": 0, "box-shadow": "inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgb(40, 167, 69)" });
              }
            }
            
          });
        }
      }

      if (fname == "") {
        $("span.error_fname").html("<span style='font-size: 80%; color: #dc3545;'>This is a required field.</span>").addClass('validate');
        $("input[name=firstname]").focus();
        $(":focus").css({ "border-color": "red", "outline": 0, "box-shadow": "inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgb(220, 53, 69)" });
        validation_holder = 1;
        $("#firstname").val("");
      } else {
        if (!fname_regex.test(fname)) {
          $("span.error_fname").html("<span style='font-size: 80%; color: #dc3545;'>First name invalid. Should contain: atleast 3 albhabets. No numeric allowed.</span>").addClass('validate');
          $("input[name=firstname]").focus();
          $(":focus").css({ "border-color": "red", "outline": 0, "box-shadow": "inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgb(220, 53, 69)" });
          validation_holder = 1;
          $("#firstname").val("");
        } else {
          $("span.error_fname").html("<span style='font-size: 80%; color: #28a745;'>Done.</span>");
          $("input[name=firstname]").focus();
          $(":focus").css({ "border-color": "green", "outline": 0, "box-shadow": "inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgb(40, 167, 69)" });
        }
      }

      if (lname == "") {
        $("span.error_lname").html("<span style='font-size: 80%; color: #dc3545;'>This is a required field.</span>").addClass('validate');
        $("input[name=lastname]").focus();
        $(":focus").css({ "border-color": "red", "outline": 0, "box-shadow": "inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgb(220, 53, 69)" });
        validation_holder = 1;
        $("#lastname").val("");
      } else {
        if (!lname_regex.test(lname)) {
          $("span.error_lname").html("<span style='font-size: 80%; color: #dc3545;'>Last name invalid. Should contain: atleast 3 albhabets. No numeric allowed.</span>").addClass('validate');
          $("input[name=lastname]").focus();
          $(":focus").css({ "border-color": "red", "outline": 0, "box-shadow": "inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgb(220, 53, 69)" });
          validation_holder = 1;
          $("#lastname").val("");
        } else {
          $("span.error_lname").html("<span style='font-size: 80%; color: #28a745;'>Done.</span>");
          $("input[name=lastname]").focus();
          $(":focus").css({ "border-color": "green", "outline": 0, "box-shadow": "inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgb(40, 167, 69)" });
        }
      }

      if (email == "") {
        $("span.error_email").html("<span style='font-size: 80%; color: #dc3545;'>This is a required field.</span>").addClass('validate');
        $("input[name=email]").focus();
        $(":focus").css({ "border-color": "red", "outline": 0, "box-shadow": "inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgb(220, 53, 69)" });
        validation_holder = 1;
        $("#email").val("");
      } else {
        if (!email_regex.test(email)) {
          $("span.error_email").html("<span style='font-size: 80%; color: #dc3545;'>Please enter a valid email address.</span>").addClass('validate');
          $("input[name=email]").focus();
          $(":focus").css({ "border-color": "red", "outline": 0, "box-shadow": "inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgb(220, 53, 69)" });
          validation_holder = 1;
          $("#email").val("");
        } else {
          $("span.error_email").html("<span style='font-size: 80%; color: #28a745;'>Done.</span>");
          $("input[name=email]").focus();
          $(":focus").css({ "border-color": "green", "outline": 0, "box-shadow": "inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgb(40, 167, 69)" });
        }
      }

      if (password1 == "") {
        $("span.error_password1").html("<span style='font-size: 80%; color: #dc3545;'>This is a required field.</span>").addClass('validate');
        $("input[name=password1]").focus();
        $(":focus").css({ "border-color": "red", "outline": 0, "box-shadow": "inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgb(220, 53, 69)" });
        validation_holder = 1;
        $("#password1").val("");
      } else {
        if (!password1_regex.test(password1)) {
          $("span.error_password1").html("<span style='font-size: 80%; color: #dc3545;'>Password invalid. Should contain atleast 1 uppercase, 1 lowecase and 1 numeric. Special characters allowed.</span>").addClass('validate');
          $("input[name=password1]").focus();
          $(":focus").css({ "border-color": "red", "outline": 0, "box-shadow": "inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgb(220, 53, 69)" });
          validation_holder = 1;
          $("#password1").val("");
        } else {
          $("span.error_password1").html("<span style='font-size: 80%; color: #28a745;'>Done.</span>");
          $("input[name=password1]").focus();
          $(":focus").css({ "border-color": "green", "outline": 0, "box-shadow": "inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgb(40, 167, 69)" });
        }
      }

      if (password2 == "") {
        $("span.error_password2").html("<span style='font-size: 80%; color: #dc3545;'>This is a required field.</span>").addClass('validate');
        $("input[name=password2]").focus();
        $(":focus").css({ "border-color": "red", "outline": 0, "box-shadow": "inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgb(220, 53, 69)" });
        validation_holder = 1;
        $("#password2").val("");
      } else {
        if (password1 != password2) {
          $("span.error_password2").html("<span style='font-size: 80%; color: #dc3545;'>Password dosen't match.</span>").addClass('validate');
          $("input[name=password2]").focus();
          $(":focus").css({ "border-color": "red", "outline": 0, "box-shadow": "inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgb(220, 53, 69)" });
          validation_holder = 1;
          $("#password2").val("");
        } else {
          $("span.error_password2").html("<span style='font-size: 80%; color: #28a745;'>Password matched.</span>");
          $("input[name=password2]").focus();
          $(":focus").css({ "border-color": "green", "outline": 0, "box-shadow": "inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgb(40, 167, 69)" });
        }
      }

      if (validation_holder == 1) {
        return false;
      } validation_holder = 0;

    });
  });



</script>
{% endblock %}