{% extends 'blog/basic.html' %}

{% block title %}Blog{% endblock %}
{% block blogactive %}active{% endblock blogactive %}
{% block body %}

<div class="container mt-3">
  <div class="row my-2">
  {% for blogpost in blogposts %}
  {% if blogpost.status == "Published" or blogpost.status == "Featured" %}
    <div class="col-md-6">
      <div class="row no-gutters border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
        <div class="col p-4 d-flex flex-column position-static">
        {% if blogpost.status == "Published" %}
        <span class="badge badge-success">{{blogpost.status}}</span>
        {% else %}
        <span class="badge badge-info">{{blogpost.status}}</span>
        {% endif %}
          <strong class="d-inline-block mt-2 mb-2 text-primary">Article by: {{blogpost.author}}</strong>
          <h3 class="mb-0">{{blogpost.title}}</h3>
          <div class="mb-1 text-muted">{{blogpost.pub_date}}</div>
          <p class="card-text mb-auto">{{blogpost.content_heading1|truncatechars:50}}</p>
          <a href="blogPost/{{blogpost.post_id}}" class="stretched-link mt-2">Continue reading</a>
        </div>
        <div class="col-auto d-none d-lg-block">
          <svg class="bd-placeholder-img" width="200" height="250" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: Thumbnail"><defs><clipPath id="myRectangle"><rect width="200" height="250" fill="#55595c" /></clipPath></defs><image xlink:href="{{MEDIA_URL}}{{blogpost.thumbnail}}" height="250px" width="200px" clip-path="url(#myRectangle)"/></svg>
        </div>
      </div>
    </div>
    {% endif %}
    {% if forloop.counter|divisibleby:2 %}
  </div><div class="row my-2">
  {% endif %}
  {% endfor %}
</div>
</div>
{% endblock %}
