<script>
    $(document).ready(function () {
  
      load_comment()
      $('.comment_button').click(function (e) {
  
        e.preventDefault();
        var formData = {
          "comment": $("textarea[name=comment]").val(),
          "post_id": $("input[name=post_id]").val(),
          "csrfmiddlewaretoken": $("input[name=csrfmiddlewaretoken]").val()
        };
  
        $.ajax({
          type: 'post',
          url: '/blog/blog/postComment',
          data: formData,
          beforeSend: function () {
            $('.message_box').html(
              '<img src="/static/blog/Loader.gif" width="25" height="25"/>'
            );
          },
          success: function (response) {
            if (response == "True") {
              load_comment();
              $('.message_box').html("<span style='font-size: 80%; color: #28a745;'>Your comment is saved</span>")
              $("#comment").val("");
            }
            else {
              $('.message_box').html("<span style='font-size: 80%; color: #dc3545'>Sorry! Your form submission is failed.</span>")
              $("#comment").val("");
            }
          }
  
        });
      });
  
  
      function load_comment() {
        var formData1 = {
          "post_id": $("input[name=post_id]").val(),
          "csrfmiddlewaretoken": $("input[name=csrfmiddlewaretoken]").val()
        };
        $.ajax({
          method: 'POST',
          url: '/blog/blog/loadComment',
          data: formData1,
          success: function (response) {
            $("#comment-display").empty()
            data = JSON.parse(response)
  
            if (data["status"] == "success") {
              updates = data["updates"];
  
              for (i = 0; i < updates.length; i++) {
                user = updates[i]['user'];
                comment = updates[i]['comment'];
                time = updates[i]['timestamp'];
                comment_id = updates[i]['comment_id'];
                count = i + 1;
  
                liitem = `<div class="row mt-4"><div class="col-md-1 image-div"><img class="profile-image" src="{% static 'blog/profile.png' %}"></div>
                            <div class="col-md-11 comment-div">
                              <div class="comment-text w-100">
                                <h6 class="font-medium"><b>${user}</b> says:</h6> <span class="m-b-15 d-block">${comment}</span>
                                  <div class="comment-footer mt-3"> <span class="text-muted float-right">${time}</span>
                                    <button class="btn btn-sm btn-primary" type="button" data-toggle="collapse" data-target="#reply-box${comment_id}" aria-expanded="false" aria-controls="reply-box${comment_id}">
                                      Reply
                                    </button>
                                      <div class="collapse" id="reply-box${comment_id}">
                                        <div class="card card-body my-2">
                                          <form class="post-comment mt-3" id="comment-form" action="#" method="post">{% csrf_token %}
                                            <div class="form-group">
                                              <h5><label for="comment">Post a Reply</label></h5>
                                                <textarea class="form-control" id="comment name="comment" rows="3" placeholder="Enter your reply"></textarea>
                                                <input type="hidden" name="parent_id" value=${comment_id}>
                                            </div>
                                              <input type="hidden" name="post_id" value={{blogpost.post_id}}>
                                              
                                              <button type="submit" class="btn btn-primary comment_button">Submit</button>
                                              </form>
                                        </div>
                                      </div>
                                    </div>
                                  </div>
                              </div>`
                $("#comments-count").html(count)
                $("#comment-display").append(liitem);
  
              }
            }
          }
        });
      }
  
    });
  