{% extends 'shopping/basic.html' %}

{% block title %}About Us{% endblock %}
{% block aboutactive %}active{% endblock aboutactive %}
{% block body %}
<main role="main">

  <!-- Main jumbotron for a primary marketing message or call to action -->
  <div class="jumbotron text-center">
    <div class="container">
      <h1 class="display-3">Apnakart</h1>
      <p>The place where you can explore for your desirable items, buy them and can try them. A better place for Online Shoping.</p>
      {% comment %} <p><a class="btn btn-primary btn-lg" href="#" role="button">Learn more »</a></p> {% endcomment %}
    </div>
  </div>

  <div class="container">
    <!-- Example row of columns -->
    <div class="row">
      <div class="col-md-4">
        <h2>Online Shopping</h2>
        <p>Online shopping is a form of electronic commerce which allows consumers to directly buy goods or services from a seller over the Internet using a web browser.</p>
        {% comment %} <p><a class="btn btn-secondary" href="#" role="button">View details »</a></p> {% endcomment %}
      </div>
      <div class="col-md-4">
        <h2>Consumers</h2>
        <p>Consumers find a product of interest by visiting the website of the retailer directly or by searching among alternative vendors using a shopping search engine, which displays the same product's availability and pricing at different e-retailers. </p>
        {% comment %} <p><a class="btn btn-secondary" href="#" role="button">View details »</a></p> {% endcomment %}
      </div>
      <div class="col-md-4">
        <h2>Products</h2>
        <p>As of 2020, customers can shop online using a range of different computers and devices, including desktop computers, laptops, tablet computers, smartphones, and smart speakers.</p>
        {% comment %} <p><a class="btn btn-secondary" href="#" role="button">View details »</a></p> {% endcomment %}
      </div>
    </div>

    <hr>

  </div> <!-- /container -->

</main>
{% endblock %}