<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    {% load static %}
    <link rel="shortcut icon" type="image/png" href="{% static 'shopping/img/favicon.png' %}"/>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

    <title>{% block title %} {% endblock %}</title>
    <style>
        {% block css %} {% endblock %}
        .header{background:#000000;}
        footer.page-footer .footer-copyright{overflow: hidden;color: rgba(255,255,255,0.6);background-color: #000000;}
        .unique-color-dark{background-color: #1c2331 !important;}
        footer.page-footer {bottom: 0;color: #fff;}
        footer.page-footer a{color: #fff;}
        .deep-purple{background-color: #673ab7 !important;}
        img.bottom-image{width: 231px;height: 110px;}
        .navbar-nav .nav-item a.nav-link{
          font-size: 1.5em; font-weight:500;
    }
    .alert{
      margin-bottom:0em;
    }
    </style>

</head>
<body>
{% load static %}
<nav class="navbar navbar-expand-lg navbar-dark header">
    <a class="navbar-brand" href="/"><img src="{% static 'shopping/img/home-logo-header.png' %}"></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
        <li class="nav-item {% block aboutactive %}
            {% endblock aboutactive %}">
          <a class="nav-link" href="/home/about">About</a>
        </li>
        <li class="nav-item {% block homeactive %}
            {% endblock homeactive %}">
          <a class="nav-link" href="/home">Home</a>
        </li>
        <li class="nav-item {% block shopactive %}
            {% endblock shopactive %}">
          <a class="nav-link" href="/shop/">Shop</a>
        </li>
        <li class="nav-item {% block blogactive %}
            {% endblock blogactive %}">
          <a class="nav-link" href="/blog">Blog</a>
        </li>
        <li class="nav-item {% block contactactive %}
            {% endblock contactactive %}">
          <a class="nav-link" href="/shop/contact">Contact</a>
        </li>
        </ul>
        <form class="form-inline my-2 my-lg-0 mr-3" method="get" action="/shop/search/">
            <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search" name="search" id="search">
            <button class="btn btn-outline-danger my-2 my-sm-0" type="submit">Search</button>
        </form>
        {% comment %} <button type="button" id="popcart" class="btn btn-secondary mx-3" title="Shopping Cart" data-container="body" data-toggle="popover" data-html="true" data-placement="bottom" data-content="">
            Cart(<span id="cart">0</span>)
        </button> {% endcomment %}
        <a href="/shop/cartView"><button type="button" class="btn btn-secondary my-2 mr-3"><img src="{% static 'shopping/img/cart.png' %}">
            Cart <span class="badge badge-dark">{{request.session.items_total}}</span>
        </button></a>
        {% if user.is_authenticated %}
      <div class="nav-item dropdown my-2 mr-3">
        <a class="nav-link dropdown-toggle btn btn-dark" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Welcome: {{request.user}}
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
          <a class="dropdown-item">Credits - <strong>(Rs.{{request.session.total_credits}})</strong></a>
          <a class="dropdown-item" href="/home/profile">Profile</a>
          <a class="dropdown-item" href="/shop/orderDetails">Order Details</a>
          <a class="dropdown-item" href="/shop/orderTracker">Order Tracker</a>
          <a class="dropdown-item" href="/blog/publish">Publish Blog</a>
          <a class="dropdown-item" href="/home/signout">Logout</a>
        </div>
      </div>
      {% else %}
      <a href="/home/signin"><button type="button" id="signin" class="btn btn-light mx-2">Log In</button>
      <a href="/home/signup"><button type="button" id="signup" class="btn btn-light">Sign Up</button></a>
      {% endif %}
    </div>
</nav>
{% if messages %}
  {% for message in messages %}
  <div class="alert alert-{{message.tags}} alert-dismissible fade show text-center" role="alert">
    <strong>{% if message.tags == "success" %}Success:{% elif message.tags == "warning" %}Warning:{% elif message.tags == "danger" %}Error:{% endif %}</strong> {{message}}
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  {% endfor %}
  {% endif %}

{% block body %} {% endblock %}
<!-- Footer -->
<footer class="page-footer font-small unique-color-dark mt-4">
    <!-- Footer Links -->
    <div class="container text-center text-md-left mt-5">

        <!-- Grid row -->
        <div class="row mt-3">

            <!-- Grid column -->
            <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mt-4">

                <!-- Content -->
                <a href="/"><img src="{% static 'shopping/img/home-logo.png' %}" class="bottom-image"></a>

            </div>
            <!-- Grid column -->

            <!-- Grid column -->
            <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mt-4">

                <!-- Links -->
                <h6 class="text-uppercase font-weight-bold">Products</h6>
                <hr class="deep-purple accent-2 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
                <p>
                    <a href="/shop/">Shop</a>
                </p>
                <p>
                    <a href="/home">Home</a>
                </p>
                <p>
                    <a href="/blog">Blog</a>
                </p>

            </div>
            <!-- Grid column -->

            <!-- Grid column -->
            <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mt-4">

                <!-- Links -->
                <h6 class="text-uppercase font-weight-bold">Query</h6>
                <hr class="deep-purple accent-2 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
                <p>
                    <a href="/shop/contact/">Help - Shop</a>
                </p>
                <p>
                    <a href="/home/contact">Help - Home</a>
                </p>
                <p>
                    <a href="/blog/contact">Help - Blog</a>
                </p>

            </div>
            <!-- Grid column -->

            <!-- Grid column -->
            <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mt-4">

                <!-- Links -->
                <h6 class="text-uppercase font-weight-bold">Contact</h6>
                <hr class="deep-purple accent-2 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
                <p>
            <i class="fa fa-home mr-3"></i> Pune, India</p>
          <p>
            <i class="fa fa-envelope mr-3"></i>info@example.com</p>

            </div>
            <!-- Grid column -->

        </div>
        <!-- Grid row -->

    </div>
    <!-- Footer Links -->

    <!-- Copyright -->
    <div class="footer-copyright text-center py-3">© 2020 Copyright:
        shopnblog
    </div>
    <!-- Copyright -->

</footer>

<script src="https://code.jquery.com/jquery-3.5.1.js" integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc=" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>


{% block js %} {% endblock %}

</body>
</html>