{% extends 'shopping/basic.html' %}
{% block title %}Apnakart - E-commerce Website{% endblock %}
{% block css %}
.col-md-3{display:inline-block; margin-left:-4px;}
.col-md-3 img{max-width:100%; height:235px;}
body .carousel-indicator li{background-color:blue;}
body .carousel-indicators{bottom: -35px;}
.carousel-indicators li{background-color:#7270fc;}
body .carousel-control-prev-icon, body .carousel-control-next-icon{background-color:blue;}
.carousel-control-prev, .carousel-control-next{top:auto; bottom:auto; padding-top:200px}
body .no-padding{padding-left:0; padding-right:0; }
.carousel-indicators .active{background-color:blue;}
{% endblock %}

{% block body %}
{% load static %}
<div class="container">
  <!--Slideshow starts here-->
  {% for product, range, no_slides in all_products %}
  <h5 class="my-4">Flash Sale On {{product.0.category}} - Recommended Items</h5>
  <div class="row">
    <div id="demo{{forloop.counter}}" class="col carousel slide my-3" data-ride="carousel">
      <ul class="carousel-indicators">
        <li data-target="#demo{{forloop.counter}}" data-slide-to="0" class="active"></li>

        {% for i in range %}
        <li data-target="#demo{{forloop.parentloop.counter}}" data-slide-to="{{i}}"></li>
        {% endfor %}
      </ul>


      <div class="container carousel-inner no-padding">
        <div class="carousel-item active">

          {% for i in product %}
          <div class="col-xs-3 col-sm-3 col-md-3">
            <div class="card align-items-center" style="width: 18rem;">
              <img src="/media/{{i.image}}" class="card-img-top" alt="...">
              <div class="card-body">
                <h5 class="card-title" id="poppr{{i.id}}">{{i.product_name}}</h5>
                <p class="card-price">Rs. <span id="popprice{{i.id}}">{{i.price}}</span></p>
                <p class="card-text">{{i.description|slice:"0:55"}}...</p>
                <span id="divpr{{i.id}}" class="divpr">
                  <button id="pr{{i.id}}" class="btn btn-primary cart">Add to Cart</button>
                </span>
                <a href="/shop/productView/{{i.id}}"><button id="qv{{i.id}}" class="btn btn-primary cart">Quick View</button></a>
              </div>
            </div>
          </div>
          {% if forloop.counter|divisibleby:4 and forloop.counter > 0 and not forloop.last %}
        </div><div class="carousel-item">
        {% endif %}
        {% endfor %}
      </div>
      </div>
    </div>

    <!--Left and Right controls for the slider-->
    <a class="carousel-control-prev" href="#demo{{forloop.counter}}" data-slide="prev">
      <span class="carousel-control-prev-icon"></span>
    </a>
    <a class="carousel-control-next" href="#demo{{forloop.counter}}" data-slide="next">
      <span class="carousel-control-next-icon"></span>
    </a>
  </div>
  {% endfor %}
</div>

{% endblock %}

{% block js %}
<script>

// Find out the cart items from localStorage
if (localStorage.getItem('cart') == null){
    var cart = {};
} else {
    cart = JSON.parse(localStorage.getItem('cart'));
    updateCart(cart);
}

// If the add to cart button is clicked, add/increment the item
$(".cart").click(function() {
    var prod_id = this.id.toString();
    total_price = 0
    if (cart[prod_id] == undefined){
        name = document.getElementById("pop" + prod_id).innerHTML;
        price = parseInt(document.getElementById("popprice" + prod_id.slice(2,)).innerHTML);
        quantity = 1
        cart[prod_id] = [name, quantity, price];
    } else {
        quantity = cart[prod_id][1] + 1
    }
    console.log(cart);
    updateCart(cart);
});

//Add Popover to cart
popoverCart(cart)
function popoverCart(cart){
    var popover = "";
    if($.isEmptyObject(cart)){
        popover = popover + "<h5>Your Cart is Empty. Continue Shopping</h5>";
        document.getElementById("popcart").setAttribute("data-content", popover);
        $("#popcart").popover("show");
    }
    else{
    popover = popover + "<div class='mx-2 my-2 cart-item'>";
    var i = 1
    for (var item in cart){
        popover = popover + "<b>" + i + ".</b> ";
        popover = popover + document.getElementById("pop" + item).innerHTML.slice(0,22) + "... <b>Qty:</b> " + cart[item][1] + "<br>";
        popover = popover + "&nbsp;&nbsp;&nbsp;&nbsp;<b>Price:</b> " + cart[item][1] * cart[item][2] + "<br>";
        i = i + 1;
        // console.log(popover)
    }
    $.fn.tooltip.Constructor.Default.whiteList.button = []
    popover = popover + "</div><a href='/shop/checkout'><button class='btn btn-primary mx-2' id='checkout'>Checkout <i class='fa fa-shopping-cart'></i></button></a><button id='clearCart' class='btn btn-danger'>Clear Cart <i class='fa fa-trash-o'></i></button>";
    document.getElementById("popcart").setAttribute("data-content", popover);
    $("#popcart").popover("show");
    
}
}

$("#popcart").on("shown.bs.popover", function(){
$("#clearCart").click(function(){
    cart = JSON.parse(localStorage.getItem("cart"));
    for (var item in cart){
        document.getElementById("div" + item).innerHTML = "<button id='" + item + "' class='btn btn-primary cart'>Add To Cart</button>";
    }
    localStorage.clear();
    cart = {};
    updateCart(cart);
    location.reload();
});
});

function updateCart(cart){
    var sum = 0;
    for (var item in cart) {
        sum = sum + cart[item][1];
        document.getElementById("div" + item).innerHTML = "<button id='minus" + item + "' class='btn btn-primary minus mx-2'>-</button><span id='val" + item + "'>" + cart[item][1] + "</span><button id='plus" + item + "' class='btn btn-primary plus mx-2'>+</button>";
    }
    localStorage.setItem("cart", JSON.stringify(cart));
    document.getElementById("cart").innerHTML = sum;
    // console.log(cart);
    popoverCart(cart);
}

// Plus Minus button will be used to change the value of items in the cart, i.e., to add or remove
$(".divpr").on("click", "button.minus", function(){
    var a = this.id.slice(5, );
    cart[a][1] = cart[a][1] - 1;
    cart[a][1] = Math.max(0, cart[a][1]);
    if(cart[a][1] == 0){
        document.getElementById("div" + a).innerHTML = "<button id='" + a + "' class='btn btn-primary cart'>Add To Cart</button>";
        delete cart[a];
        window.location="/shop"
    }
    else{
        document.getElementById("val" + a).innerHTML = cart[a][1];
  }
  updateCart(cart);
});

$(".divpr").on("click", "button.plus", function(){
    var b = this.id.slice(4, );
    cart[b][1] = cart[b][1] + 1;
    document.getElementById("val" + b).innerHTML = cart[b][1];
    updateCart(cart);
});

</script>
{% endblock %}

