{% extends 'shopping/basic.html' %}
{% block title %}Shop{% endblock %}
{% block css %}
.col-md-3{display:inline-block; margin-left:-4px;}
.col-md-4 img{max-width:100%; height:235px;}
.mdb-color.darken-3{background-color: #1c2a48 !important;}
.card-body.products a{color:black;}
.fa-star:before {
content: "\f005";
color:#FD4;
}
@media (max-width: 768px) {
    .latest-products .carousel-inner .carousel-item > div, .products-list .carousel-inner .carousel-item > div {
        display: none;
    }
    .latest-products .carousel-inner .carousel-item > div:first-child, .products-list .carousel-inner .carousel-item > div:first-child {
        display: block;
    }
}

.latest-products .carousel-inner .carousel-item.active, .products-list .carousel-inner .carousel-item.active,
.latest-products .carousel-inner .carousel-item-next, .products-list .carousel-inner .carousel-item-next,
.latest-products .carousel-inner .carousel-item-prev, .products-list .carousel-inner .carousel-item-prev {
    display: flex;
}

/* display 3 */
@media (min-width: 768px) {
    
    .latest-products .carousel-inner .carousel-item-right.active, .products-list .carousel-inner .carousel-item-right.active,
    .latest-products .carousel-inner .carousel-item-next, .products-list .carousel-inner .carousel-item-next {
      transform: translateX(33.333%);
    }
    
    .latest-products .carousel-inner .carousel-item-left.active, .products-list .carousel-inner .carousel-item-left.active,
    .latest-products .carousel-inner .carousel-item-prev, .products-list .carousel-inner .carousel-item-prev {
      transform: translateX(-33.333%);
    }
}

.latest-products .carousel-inner .carousel-item-right, .products-list .carousel-inner .carousel-item-right,
.latest-products .carousel-inner .carousel-item-left, .products-list .carousel-inner .carousel-item-left { 
  transform: translateX(0);
}

{% endblock %}
{% block shopactive %}active{% endblock shopactive %}

{% block body %}
{% load static %}

<div class="container-fluid">
  {% if all_trending_products %}
  <h4 class="my-4">Trending - <strong><em>Top Selling Products</em></strong></h4>
  <div class="row mx-auto my-auto latest-products">
    <div id="trending-products{{forloop.counter}}" class="carousel slide w-100" data-ride="carousel">
      <div class="carousel-inner w-100" role="listbox">

        <div class="carousel-item active">
          {% for i in all_trending_products %}
          <div class="col-md-4">
          <div class="card align-items-center">
              <a href="/shop/productView/{{i.id}}"><img src="{{MEDIA_URL}}{{i.image}}" class="img-fluid text-center" alt="..."></a>
              <div class="card card-body products">
                <a href="/shop/productView/{{i.id}}">
                  <h5 class="card-title" id="poppr{{i.id}}">{{i.product_name|truncatechars:50}}</h5>
                </a>
                <p class="card-price">Rs. <span id="popprice{{i.id}}">{{i.price}}</span></p>
                <div class="review-rating">
                  <i class="fa fa-star{% if i.averageRating < 1 %}-o empty{% endif %}"></i>
                  <i class="fa fa-star{% if i.averageRating < 2 %}-o empty{% endif %}"></i>
                  <i class="fa fa-star{% if i.averageRating < 3 %}-o empty{% endif %}"></i>
                  <i class="fa fa-star{% if i.averageRating < 4 %}-o empty{% endif %}"></i>
                  <i class="fa fa-star{% if i.averageRating < 5 %}-o empty{% endif %}"></i>
                  {{i.averageRating |stringformat:".1f"}} | ({{i.reviewCount}})
                </div>
                <p class="card-text mt-2">{{i.description|truncatechars:55}}</p>
              </div>
              </div>
          </div>
          {% if not forloop.last %}
        </div>
        <div class="carousel-item">
          {% endif %}
          {% endfor %}
        </div>
      </div>
      <a class="carousel-control-prev w-auto" href="#trending-products{{forloop.counter}}" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon bg-dark border border-dark rounded-circle" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="carousel-control-next w-auto" href="#trending-products{{forloop.counter}}" role="button" data-slide="next">
        <span class="carousel-control-next-icon bg-dark border border-dark rounded-circle" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a>
    </div>
  </div>
  {% endif %}
</div>

<div class="container-fluid">
  <div id="carouselExampleIndicators" class="carousel slide mt-2" data-ride="carousel">
    <ol class="carousel-indicators">
      <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
      <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
      <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
    </ol>
    {% for image in banner %}
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img class="d-block w-100" src="{{MEDIA_URL}}{{image.image_url}}" alt="First slide">
      </div>
      <div class="carousel-item">
        <img class="d-block w-100" src="{{MEDIA_URL}}{{image.second_image_url}}" alt="Second slide">
      </div>
      <div class="carousel-item">
        <img class="d-block w-100" src="{{MEDIA_URL}}{{image.third_image_url}}" alt="Third slide">
      </div>
      {% endfor %}
    </div>
  </div>
</div>

<div class="container-fluid">
  {% if all_latest_products %}
  <h4 class="my-4">Latest - <strong><em>New Products</em></strong></h4>
  <div class="row mx-auto my-auto latest-products">
    <div id="latest-products{{forloop.counter}}" class="carousel slide w-100" data-ride="carousel">
      <div class="carousel-inner w-100" role="listbox">

        <div class="carousel-item active">
          {% for i in all_latest_products %}
          <div class="col-md-4">
          <div class="card align-items-center">
              <a href="/shop/productView/{{i.id}}"><img src="{{MEDIA_URL}}{{i.image}}" class="img-fluid text-center" alt="..."></a>
              <div class="card card-body products">
                <a href="/shop/productView/{{i.id}}">
                  <h5 class="card-title" id="poppr{{i.id}}">{{i.product_name|truncatechars:50}}</h5>
                </a>
                <p class="card-price">Rs. <span id="popprice{{i.id}}">{{i.price}}</span></p>
                <div class="review-rating">
                  <i class="fa fa-star{% if i.averageRating < 1 %}-o empty{% endif %}"></i>
                  <i class="fa fa-star{% if i.averageRating < 2 %}-o empty{% endif %}"></i>
                  <i class="fa fa-star{% if i.averageRating < 3 %}-o empty{% endif %}"></i>
                  <i class="fa fa-star{% if i.averageRating < 4 %}-o empty{% endif %}"></i>
                  <i class="fa fa-star{% if i.averageRating < 5 %}-o empty{% endif %}"></i>
                  {{i.averageRating |stringformat:".1f"}} | ({{i.reviewCount}})
                </div>
                <p class="card-text mt-2">{{i.description|truncatechars:55}}</p>
              </div>
              </div>
          </div>
          {% if not forloop.last %}
        </div>
        <div class="carousel-item">
          {% endif %}
          {% endfor %}
        </div>
      </div>
      <a class="carousel-control-prev w-auto" href="#latest-products{{forloop.counter}}" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon bg-dark border border-dark rounded-circle" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="carousel-control-next w-auto" href="#latest-products{{forloop.counter}}" role="button" data-slide="next">
        <span class="carousel-control-next-icon bg-dark border border-dark rounded-circle" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a>
    </div>
  </div>
  {% endif %}
</div>

<div class="container">
  <div class="font-small mdb-color darken-3 pt-4 mt-4">
    <div class="row d-flex justify-content-center">
      <div class="col-md-12 col-lg-12 col-xl-12">
        <div class="embed-responsive embed-responsive-16by9 mb-4">
          <iframe class="embed-responsive-item" src="{{youtube.youtube_video_link}}" allow="autoplay"></iframe>
        </div>
      </div>
    </div>
  </div>

  <!--Slideshow starts here-->
  {% for product, range, no_slides in all_products %}
  <h4 class="my-4">Flash Sale On - <strong><em>{{product.0.category}}</em></strong></h4>
  <div class="row mx-auto my-auto products-list">
    <div id="demo{{forloop.counter}}" class="carousel slide w-100 carousel-products" data-ride="carousel">
      <div class="carousel-inner w-100" role="listbox">

        <div class="carousel-item carousel-products-item active">
          {% for i in product %}
          <div class="col-md-4">
          <div class="card align-items-center">
              <a href="/shop/productView/{{i.id}}"><img src="{{MEDIA_URL}}{{i.image}}" class="img-fluid text-center" alt="..."></a>
              <div class="card card-body products">
                <a href="/shop/productView/{{i.id}}">
                  <h5 class="card-title" id="poppr{{i.id}}">{{i.product_name|truncatechars:50}}</h5>
                </a>
                <p class="card-price">Rs. <span id="popprice{{i.id}}">{{i.price}}</span></p>
                <div class="review-rating">
                  <i class="fa fa-star{% if i.averageRating < 1 %}-o empty{% endif %}"></i>
                  <i class="fa fa-star{% if i.averageRating < 2 %}-o empty{% endif %}"></i>
                  <i class="fa fa-star{% if i.averageRating < 3 %}-o empty{% endif %}"></i>
                  <i class="fa fa-star{% if i.averageRating < 4 %}-o empty{% endif %}"></i>
                  <i class="fa fa-star{% if i.averageRating < 5 %}-o empty{% endif %}"></i>
                  {{i.averageRating |stringformat:".1f"}} | ({{i.reviewCount}})
                </div>
                <p class="card-text mt-2">{{i.description|truncatechars:55}}</p>
              </div>
              </div>
          </div>
          {% if not forloop.last %}
        </div>
        <div class="carousel-item">
          {% endif %}
          {% endfor %}
        </div>
      </div>
      <a class="carousel-control-prev w-auto" href="#demo{{forloop.counter}}" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon bg-dark border border-dark rounded-circle" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="carousel-control-next w-auto" href="#demo{{forloop.counter}}" role="button" data-slide="next">
        <span class="carousel-control-next-icon bg-dark border border-dark rounded-circle" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a>
    </div>
  </div>
  {% endfor %}
</div>

{% endblock %}

{% block js %}
<script>
$('.carousel').carousel({
  interval: 10000
});

$('.latest-products .carousel .carousel-item').each(function(){
    var minPerSlide = 3;
    var next = $(this).next();
    if (!next.length) {
    next = $(this).siblings(':first');
    }
    next.children(':first-child').clone().appendTo($(this));
    
    for (var i=0;i<minPerSlide;i++) {
        next=next.next();
        if (!next.length) {
        	next = $(this).siblings(':first');
      	}
        
        next.children(':first-child').clone().appendTo($(this));
      }
});

$('.products-list .carousel .carousel-item').each(function(){
    var minPerSlide = 3;
    var next = $(this).next();
    if (!next.length) {
    next = $(this).siblings(':first');
    }
    next.children(':first-child').clone().appendTo($(this));
    
    for (var i=0;i<minPerSlide;i++) {
        next=next.next();
        if (!next.length) {
        	next = $(this).siblings(':first');
      	}
        
        next.children(':first-child').clone().appendTo($(this));
      }
});
</script>
<!-- <script>
  // Find out the cart items from localStorage
  if (localStorage.getItem('cart') == null) {
    var cart = {};
  } else {
    cart = JSON.parse(localStorage.getItem('cart'));
    updateCart(cart);
  }

  // If the add to cart button is clicked, add/increment the item
  $(".cart").click(function () {
    var prod_id = this.id.toString();
    total_price = 0
    if (cart[prod_id] == undefined) {
      name = document.getElementById("pop" + prod_id).innerHTML;
      price = parseInt(document.getElementById("popprice" + prod_id.slice(2,)).innerHTML);
      quantity = 1
      cart[prod_id] = [name, quantity, price];
    } else {
      quantity = cart[prod_id][1] + 1
    }
    console.log(cart);
    updateCart(cart);
  });

  //Add Popover to cart
  popoverCart(cart)
  function popoverCart(cart) {
    var popover = "";
    if ($.isEmptyObject(cart)) {
      popover = popover + "<h5>Your Cart is Empty. Continue Shopping</h5>";
      document.getElementById("popcart").setAttribute("data-content", popover);
      $("#popcart").popover("show");
    }
    else {
      popover = popover + "<div class='mx-2 my-2 cart-item'>";
      var i = 1
      for (var item in cart) {
        popover = popover + "<b>" + i + ".</b> ";
        popover = popover + document.getElementById("pop" + item).innerHTML.slice(0, 22) + "... <b>Qty:</b> " + cart[item][1] + "<br>";
        popover = popover + "&nbsp;&nbsp;&nbsp;&nbsp;<b>Price:</b> " + cart[item][1] * cart[item][2] + "<br>";
        i = i + 1;
        // console.log(popover)
      }
      $.fn.tooltip.Constructor.Default.whiteList.button = []
      popover = popover + "</div><a href='/shop/checkout'><button class='btn btn-primary mx-2' id='checkout'>Checkout <i class='fa fa-shopping-cart'></i></button></a><button id='clearCart' class='btn btn-danger'>Clear Cart <i class='fa fa-trash-o'></i></button>";
      document.getElementById("popcart").setAttribute("data-content", popover);
      $("#popcart").popover("show");

    }
  }

  $("#popcart").on("shown.bs.popover", function () {
    $("#clearCart").click(function () {
      cart = JSON.parse(localStorage.getItem("cart"));
      for (var item in cart) {
        document.getElementById("div" + item).innerHTML = "<button id='" + item + "' class='btn btn-primary cart'>Add To Cart</button>";
      }
      localStorage.clear();
      cart = {};
      updateCart(cart);
      location.reload();
    });
  });

  function updateCart(cart) {
    var sum = 0;
    for (var item in cart) {
      sum = sum + cart[item][1];
      document.getElementById("div" + item).innerHTML = "<button id='minus" + item + "' class='btn btn-primary minus mx-2'>-</button><span id='val" + item + "'>" + cart[item][1] + "</span><button id='plus" + item + "' class='btn btn-primary plus mx-2'>+</button>";
    }
    localStorage.setItem("cart", JSON.stringify(cart));
    document.getElementById("cart").innerHTML = sum;
    // console.log(cart);
    popoverCart(cart);
  }

  // Plus Minus button will be used to change the value of items in the cart, i.e., to add or remove
  $(".divpr").on("click", "button.minus", function () {
    var a = this.id.slice(5,);
    cart[a][1] = cart[a][1] - 1;
    cart[a][1] = Math.max(0, cart[a][1]);
    if (cart[a][1] == 0) {
      document.getElementById("div" + a).innerHTML = "<button id='" + a + "' class='btn btn-primary cart'>Add To Cart</button>";
      delete cart[a];
      window.location = "/shop"
    }
    else {
      document.getElementById("val" + a).innerHTML = cart[a][1];
    }
    updateCart(cart);
  });

  $(".divpr").on("click", "button.plus", function () {
    var b = this.id.slice(4,);
    cart[b][1] = cart[b][1] + 1;
    document.getElementById("val" + b).innerHTML = cart[b][1];
    updateCart(cart);
  });

</script> -->
{% endblock %}