{% extends 'shopping/basic.html' %}

{% block title %}Checkout{% endblock %}
{% block css %}
.checkout-total{float:right;}
{% endblock %}
{% block body %}
<div class="container">
  <div class="py-5 text-center">
    {% load static %}
    <img class="d-block mx-auto mb-4" src="{% static 'shopping/checkout_logo.png' %}" alt="" width="300px"
      height="126px">
    <h2>Apnakart Checkout - Review Cart Items</h2>
  </div>
  <div class="row">
    <div class="col-md-4 order-md-2 mb-4">
      <h4 class="d-flex justify-content-between align-items-center mb-3">
        {% if not thanks %}
        <span class="text-muted">Your cart</span>
        <span class="badge badge-secondary badge-pill">{{request.session.items_total}}</span>
        {% endif %}
      </h4>
      <ul class="list-group mb-3" id="cart-items">
        {% if thanks %}
        <li class="list-group-item d-flex justify-content-between lh-condensed">
          <div>
            <h6 class="my-0">{{buy_item.product|truncatechars:20}}</h6>
          </div>
          <span class="text-muted"><b>{{buy_item.quantity}}</b></span>
        </li>
      </ul>
      <ul class="list-group mb-3">
        <li class="list-group-item d-flex justify-content-between">
          <span>Total Price (Rs.)</span>
          <strong>Rs. {{buy.total_price}}</strong>
        </li>
      </ul>
      {% else %}
      {% for item in cart_item %}
      <li class="list-group-item d-flex justify-content-between lh-condensed">
        <div>
          <h6 class="my-0">{{item.product.product_name|truncatechars:20}}</h6>
        </div>
        <span class="text-muted"><b>{{item.quantity}}</b></span>
      </li>
      {% endfor %}
      </ul>
      <ul class="list-group mb-3">
        <li class="list-group-item d-flex justify-content-between">
          <span>Total Price (Rs.)</span>
          <strong>Rs. {{cart_total}}</strong>
        </li>
      </ul>
      {% endif %}
    </div>

    <div class="col-md-8 order-md-1">
      <h4 class="mb-3">Billing Address</h4>
      <form class="needs-validation" novalidate="" action="/shop/cartCheckout/" method="post">{% csrf_token %}
            <input type="hidden" name="buy_thanks" value="{{thanks}}">
        <div class="row">
          <div class="col-md-6 mb-3">
            <label for="fullName">Full Name</label>
            <input type="text" class="form-control" id="fullName" name="name" placeholder="Full Name" value=""
              required="">
            <div class="invalid-feedback">
              Valid full name is required.
            </div>
          </div>
          <div class="col-md-6 mb-3">
            <label for="email">Email</label>
            <input type="email" class="form-control" id="email" name="email" placeholder="Email" value="" required="">
            <div class="invalid-feedback">
              Please enter a valid email address for shipping updates.
            </div>
          </div>
        </div>

        <div class="mb-3">
          <label for="address">Address</label>
          <input type="text" class="form-control" id="address" name="address1" placeholder="1234 Main St" required="">
          <div class="invalid-feedback">
            Please enter your shipping address.
          </div>
        </div>

        <div class="mb-3">
          <label for="address2">Address 2</label>
          <input type="text" class="form-control" id="address2" name="address2" placeholder="Apartment or suite"
            required="">
          <div class="invalid-feedback">
            Please enter your shipping address.
          </div>
        </div>

        <div class="row">
          <div class="col-md-5 mb-3">
            <label for="city">City</label>
            <input type="text" class="form-control" name="city" id="city" placeholder="City" required="">
            <div class="invalid-feedback">
              Please enter your city.
            </div>
          </div>
          <div class="col-md-4 mb-3">
            <label for="state">State</label>
            <input type="text" class="form-control" name="state" id="state" placeholder="State" required="">
            <div class="invalid-feedback">
              Please enter your state.
            </div>
          </div>
          <div class="col-md-3 mb-3">
            <label for="zip">Zip</label>
            <input type="text" class="form-control" id="zip" name="zip_code" placeholder="Zip" required="">
            <div class="invalid-feedback">
              Zip code required.
            </div>
          </div>
        </div>
        <div class="mb-3">
          <label for="mobile">Mobile Number</label>
          <input type="tel" class="form-control" id="mobile" name="mobile_number" placeholder="Mobile Number"
            required="">
          <div class="invalid-feedback">
            Please enter your mobile number.
          </div>
        </div>
        <hr class="mb-4">
        <button class="btn btn-primary btn-lg btn-block" type="submit" style="background:#59606D">Continue to
          checkout</button>
      </form>
    </div>
  </div>
</div>

{% endblock %}

{% block js %}
<script>
  (function () {
    'use strict'

    window.addEventListener('load', function () {
      // Fetch all the forms we want to apply custom Bootstrap validation styles to
      var forms = document.getElementsByClassName('needs-validation')

      // Loop over them and prevent submission
      Array.prototype.filter.call(forms, function (form) {
        form.addEventListener('submit', function (event) {
          if (form.checkValidity() === false) {
            event.preventDefault()
            event.stopPropagation()
          }
          form.classList.add('was-validated')
        }, false)
      })
    }, false)
  }())
</script>

{% endblock %}