{% extends 'shopping/basic.html' %}

{% block title %}Order Details{% endblock %}
{% block css %}
.result {display: block; clear: both; vertical-align: middle; position: relative;}
.display-box {position: relative;width: 100%;max-width: 500px;background-color: #fff;border: 4px solid #000;padding:
40px 20px;margin: 50px auto;line-height: 30px;display: block;clear: both;}
.display-box p a {color: #000; font-weight: 600; text-decoration: underline;}
.display-box h2 {color: #000;font-size: 22px;text-align: center;margin-bottom: 20px;display: block;font-weight:
600;text-transform: uppercase;font-family: lato;}
.display-box p {color: #000;font-size: 14px;text-align: center;display: block;}
a.review-link:link {color:#6C757D;}
a.review-link:visited {color:#6C757D;}
a.review-link:hover {font-size:150%;}
.center {
display: block;
margin-left: auto;
margin-right: auto;
}
.pagination {
justify-content: center;
}
a.readmore-link:link {color:#6C757D; font-weight:800}
a.readmore-link:visited {color:#6C757D; font-weight:800}
a.readmore-link:hover {font-size:150%; font-weight:800}
{% endblock %}
{% block shopactive %}active{% endblock shopactive %}
{% block body %}
{% load literal_eval %}
<div class="container">
    {% if empty %}
    <div class="result">
        <div class="display-box">
            <h2>NO ORDERS YET</h2>
            <p>You have not ordered anything yet</p>
            <p>You need to order to see order details</p>
            <p>Keep Shopping with us</p>
            <p>Click <a href="/shop/">here</a> to continue shopping.</p>
        </div>
    </div>

    {% else %}

    <h1 class="order-detail-title mt-4">Order Details</h1><br>
    <div class="table-responsive">
        <h4 class="cart-details">
            <table class="table">
                <thead>
                    <th scope="col">Order ID</th>
                    <th scope="col"></th>
                    <th scope="col">Product</th>
                    <th scope="col"></th>
                    <th scope="col"></th>
                    <th scope="col">Quantity</th>
                    <th scope="col">Price</th>
                    <th scope="col">Review</th>
                    <th scope="col">Cancel/Return</th>
                    <th scope="col">Refund Status</th>
                    <th scope="col">Payment Type</th>
                </thead>

                {% for item in records %}
                <tr>
                    <td scope="col">{{item.order_id}}</td>
                    <td scope="col">
                        <p>
                            {% for image in item.cartproduct_items|literal_eval %}
                            <img src="{{image.3}}" class="center mt-1" height="80" alt="...">
                            {% if not forloop.last %}
                        </p><br>
                        <p>
                            {% endif %}
                            {% endfor %}
                        </p>
                    </td>
                    <td scope="col">
                        <p>
                            {% for product in item.cartproduct_items|literal_eval %}
                            {{forloop.counter}}. {{product.0|truncatechars:20}}
                            {% if not forloop.last %}
                        </p><br>
                        <p>
                            {% endif %}
                            {% endfor %}
                        </p>
                    </td>
                    <td scope="col"></td>
                    <td scope="col"></td>
                    <td scope="col">
                        <p>
                            {% for quantity in item.cartproduct_items|literal_eval %}
                            {{quantity.1}}
                            {% if not forloop.last %}
                        </p><br><br><br>
                        <p>
                            {% endif %}
                            {% endfor %}
                        </p>
                    </td>
                    <td scope="col">&#8377; {{item.final_total}}</td>
                    <td scope="col">
                        <p>
                            {% for url in item.cartproduct_items|literal_eval %}
                            {% if item.status == "Finished" and item.order_status == "Delivered" %}
                            <a class="review-link" href="/shop/review/{{url.2}}">Rate &amp; Review</a>
                            {% elif item.status == "Return" and item.order_status == "Delivered" %}
                            <a class="review-link" href="/shop/review/{{url.2}}">Rate &amp; Review</a>
                            {% elif item.status == "Abandoned" and item.order_status == "Delivered" %}
                            <a class="review-link" href="/shop/review/{{url.2}}">Rate &amp; Review</a>
                            {% elif item.status == "Abandoned" and item.order_status == "Not Delivered" %}
                            <a>Can't Review</a>
                            {% else %}
                            <a class="review-link">After Product Delivery</a>
                            {% endif %}
                            {% if not forloop.last %}
                        </p><br>
                        <p>
                            {% endif %}
                            {% endfor %}
                        </p>
                    </td>
                    {% if item.status == "Abandoned" and item.order_status == "Not Delivered" %}
                    <td scope="col">CANCELLED</td>
                    {% elif item.status == "Abandoned" and item.order_status == "Delivered" %}
                    <td scope="col">RETURNED</td>
                    {% elif item.status == "Return" and item.order_status == "Delivered" %}
                    <td scope="col">RETURN REQUESTED</td>
                    {% elif item.status == "Finished" and item.order_status == "Delivered" %}
                    <td scope="col"><a class="review-link" href="/shop/cancelOrder/{{item.order_id}}">Return</a></td>
                    {% elif item.status == "Finished" and item.order_status == "Not Delivered" %}
                    <td scope="col"><a class="review-link" href="/shop/cancelOrder/{{item.order_id}}">Cancel</a></td>
                    {% endif %}
                    {% if item.status == "Started" or item.status == "Abandoned" %}
                    <td scope="col"><a class="review-link" href="/shop/refundStatus/{{item.order_id}}">Check</a></td>
                    {% else %}
                    <td scope="col"><a>Not Avaialable</a></td>
                    {% endif %}

                    <td scope="col">{{item.payment_mode}}</td>
                </tr>
                {% endfor %}
            </table>
        </h4>
    </div>
    {% endif %}

    {% if records.has_other_pages %}
    <ul class="pagination">
        <li class="page-item">
            {% if records.has_previous %}
            <a class="page-link readmore-link" href="?page={{ records.previous_page_number }}">Previous</a>
            {% else %}
            <a class="page-link disabled">Previous</a>
            {% endif %}
        </li>

        <li class="page-item">
            <a class="page-link">
                Page {{records.number}} of {{records.paginator.num_pages}}
            </a>
        </li>

        <li class="page-item">
            {% if records.has_next %}
            <a class="page-link readmore-link" href="?page={{ records.next_page_number }}">Next</a>
            {% else %}
            <a class="page-link disabled">Next</a>
            {% endif %}
        </li>
    </ul>
    {% endif %}
</div>
{% endblock body %}