{% extends 'shopping/basic.html' %}

{% block title %}Order Details{% endblock %}
{% block css %}
.result {display: block; clear: both; vertical-align: middle; position: relative;}
.display-box {position: relative;width: 100%;max-width: 500px;background-color: #fff;border: 4px solid #000;padding:
40px 20px;margin: 50px auto;line-height: 30px;display: block;clear: both;
}
.display-box p a {color: #000; font-weight: 600; text-decoration: underline;
}
{% endblock %}
{% block shopactive %}active{% endblock shopactive %}
{% block body %}
{% load literal_eval %}
<div class="container">
{% if empty %}

    <div class="result">
        <div class="display-box">
            <h2>NO ORDERS YET</h2>
            <p>You have no ordered anything yet.</p>
            <p>You need to order to see order details.</p>
            <p>Click <a href="/shop/">here</a> to continue shopping.</p>
        </div>
    </div>

    {% else %}

<h1 class="order-detail-title mt-4">Order Details</h1><br>
<h2 class="details">
    <table class="table mt-3">
        <thead>
            <th>Order ID</th>
            <th>Product</th>
            <th>Quantity</th>
            <th>Price</th>
            <th>Date/Time</th>
            <th></th>
        </thead>
        {% for item in order %}
        
        <tr>
            <td>{{item.order_id}}</td>
            <td>
            {% for product in item.cartproduct_items|literal_eval %}
            {{forloop.counter}}. {{product.0}}<br>
            {% endfor %}
            </td>
            <td>
             {% for quantity in item.cartproduct_items|literal_eval %}
            {{quantity.1}}<br>
            {% endfor %}
            </td>
            <td>{{item.final_total}}</td>
            <td>{{item.timestamp}}</td>
        </tr>
        {% endfor %}
    </table>
    {% endif %}
    </h2>
</div>
{% endblock body %}