{% extends 'shopping/basic.html' %}

{% block title %}{{product.product_name}} Detail{% endblock %}
{% block css %}
input[type="number"] {
width:50px;
}
.card-img, .card-img-bottom, .card-img-top {
    -ms-flex-negative: 0;
    flex-shrink: 0;
    margin-left:5em;
    width:200px
}
{% endblock css %}
{% block shopactive %}active{% endblock shopactive %}

{% load static %}
{% block body %}
<div class="container">
    <div class="row mt-4">
        <div class="col-md-4">
            <div class="row">
                <img src="{{MEDIA_URL}}{{product.image}}" class="card-img-top my-3" height=300 alt="...">
            </div>
            <div class="row">
                <a href="{% url 'buy_now' product.id %}"><button class="btn cart mx-2 mr-2 mt-2" style="background-color:#dbd5d5">Buy Now<img src="{% static 'shopping/img/buynow.png' %}"></button></a>
                <form class="form pull-right" method="post" action="{% url 'add_to_cart' product.id %}">
                    {% csrf_token %}
                    <button class="btn mx-2 mr-2 mt-2" type="submit" style="background-color:#dbd5d5">Add to Cart<img src="{% static 'shopping/img/add_to_cart.png' %}"></button>
                    <input type="number" name="qty" value='1' size="3">
                </form>
                {% comment %} <a href="{% url "update_cart" product.id %}?qty=12"><button
                        class="btn btn-primary cart mx-2">Add to Cart</button></a> {% endcomment %}
            </div>
        </div>

        <div class="col-md-8 my-3">
            <h5>{{product.product_name}}</h5>
            <p><b>Rs. {{product.price}}</b></p>
            <p>{{product.description}}</p>
        </div>
    </div>
</div>
{% endblock %}