{% extends 'shopping/basic.html' %}

{% block title %}{{product.product_name}} Detail{% endblock %}
{% block css %}
input[type="number"] {
width:50px;
float:right;
}
.card-img, .card-img-bottom, .card-img-top {
-ms-flex-negative: 0;
flex-shrink: 0;
margin-left:5em;
width:200px
}
.profile-image{
border-radius: 50px;
}
.pagination{
justify-content: center;
}
.comment-reviews{
word-wrap:break-word;
}
.fa-star:before {
content: "\f005";
color:#FD4;
}
.result {display: block; clear: both; vertical-align: middle; position: relative;}
.display-box {position: relative;width: 100%;max-width: 500px;background-color: #fff;border: 4px solid #000;padding:
40px 20px;margin: 50px auto;line-height: 30px;display: block;clear: both;}
.display-box h2 {color: #000;font-size: 22px;text-align: center;margin-bottom: 20px;display: block;font-weight: 600;text-transform: uppercase;font-family: lato;}
{% endblock css %}
{% block shopactive %}active{% endblock shopactive %}

{% load static %}
{% block body %}
<div class="container">
    <div class="row mt-4">
        <div class="col-md-4">
            <div class="row">
                <img src="{{MEDIA_URL}}{{product.image}}" class="card-img-top my-3" height=300 alt="...">
            </div>
            <div class="row">
                <a href="{% url 'buy_now' product.id %}"><button class="btn cart mx-2 mr-2 mt-2"
                        style="background-color:#dbd5d5">Buy Now<img
                            src="{% static 'shopping/img/buynow.png' %}"></button></a>
                <form class="form pull-right" method="post" action="{% url 'add_to_cart' product.id %}">
                    {% csrf_token %}
                    <button class="btn mx-2 mr-2 mt-2" type="submit" style="background-color:#dbd5d5">Add to Cart<img
                            src="{% static 'shopping/img/add_to_cart.png' %}"></button>
                    <input class="form-control mt-2" type="number" name="qty" value='1' size="3">
                </form>
            </div>
        </div>

        <div class="col-md-8 my-3">
            <h5>{{product.product_name}}</h5>
            <p><b>Rs. {{product.price}}</b></p>

            <div>
                <div class="review-rating">
                    <i class="fa fa-star{% if product.averageRating < 1 %}-o empty{% endif %}"></i>
                    <i class="fa fa-star{% if product.averageRating < 2 %}-o empty{% endif %}"></i>
                    <i class="fa fa-star{% if product.averageRating < 3 %}-o empty{% endif %}"></i>
                    <i class="fa fa-star{% if product.averageRating < 4 %}-o empty{% endif %}"></i>
                    <i class="fa fa-star{% if product.averageRating < 5 %}-o empty{% endif %}"></i>
                    {{product.averageRating |stringformat:".1f"}} | ({{product.reviewCount}})
                </div>
            </div>
            <p class="mt-2">{{product.description}}</p>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <h4 class="text-uppercase mt-4">Reviews({{product.reviewCount}})</h4>
            {% if product.reviewCount == 0 %}

            <div class="result">
                <div class="display-box">
                    <h2>NO REVIEWS YET</h2>
                </div>
            </div>

            {% else %}
            <div class="product-reviews">
                {% for record in records %}
                <div class="row mt-4">
                    <div class="col-md-1 image-div">
                        <img class="profile-image" src="{% static 'blog/img/profile.png' %}">
                    </div>
                    <div class="col-md-11 comment-div">
                        <div class="comment-text w-100">
                            <div class="review-rating pull-right">
                                <i class="fa fa-star{% if record.rating < 1 %}-o empty{% endif %}"></i>
                                <i class="fa fa-star{% if record.rating < 2 %}-o empty{% endif %}"></i>
                                <i class="fa fa-star{% if record.rating < 3 %}-o empty{% endif %}"></i>
                                <i class="fa fa-star{% if record.rating < 4 %}-o empty{% endif %}"></i>
                                <i class="fa fa-star{% if record.rating < 5 %}-o empty{% endif %}"></i>
                            </div>
                            <h6 class="font-medium"><i class="fa fa-user-o"></i> <strong><em>{{record.user}}
                                        says:</em></strong>&nbsp;&nbsp;&nbsp;<i class="fa fa-comment-o"></i> {{record.subject}}</h6>
                            <div class="m-b-15 d-block comment-reviews"><i class="fa fa-comments-o"></i> {{record.comment}}</div>
                            <div class="text-muted float-right"><i class="fa fa-clock-o"></i>
                                {{record.created_at}}</div>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
            {% endif %}

            {% if records.has_other_pages %}
            <ul class="pagination mt-4">
                <li class="page-item">
                    {% if records.has_previous %}
                    <a class="page-link" href="?page={{ records.previous_page_number }}">Previous</a>
                    {% else %}
                    <a class="page-link disabled">Previous</a>
                    {% endif %}
                </li>

                <li class="page-item">
                    <a class="page-link">
                        Page {{records.number}} of {{records.paginator.num_pages}}
                    </a>
                </li>

                <li class="page-item">
                    {% if records.has_next %}
                    <a class="page-link" href="?page={{ records.next_page_number }}">Next</a>
                    {% else %}
                    <a class="page-link disabled">Next</a>
                    {% endif %}
                </li>
            </ul>
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}