{% extends 'shopping/basic.html' %}

{% block title %}Product Review - {{product}}{% endblock %}
{% block css %}
div.stars {
width: 270px;
display: inline-block;
}

input.star { display: none; }

label.star {
float: right;
padding: 10px;
font-size: 36px;
color: #444;
transition: all .2s;
}

input.star:checked ~ label.star:before {
content: '\f005';
color: #FD4;
transition: all .25s;
}

input.star-5:checked ~ label.star:before {
color: #FE7;
text-shadow: 0 0 20px #952;
}

input.star-1:checked ~ label.star:before { color: #F62; }

label.star:hover { transform: rotate(-15deg) scale(1.3); }

label.star:before {
content: '\f006';
font-family: FontAwesome;
}
.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: auto;
  height:235px;
}
{% endblock %}
{% block shopactive %}active{% endblock shopactive %}
{% block body %}
<div class="container">
    <div class="col-md-12">
        {% if user.is_authenticated %}
        <img src="{{MEDIA_URL}}{{product.image}}" class="center mt-4" alt="...">
        <h1 class="review-title mt-2">Write Review - {{product}}</h1><br>
        <form action="/shop/review/{{product.slug}}" novalidate="" class="review-form" method="post">{% csrf_token %}
            <div class="form-group">
                <label for="subject">Subject</label>
                {% if status %}
                <input class="form-control" id="subject" name="subject"
                    placeholder="Enter Your Subject" value="{{comments.subject}}" required="">
                {% else %}
                <input class="form-control" id="subject" name="subject"
                    placeholder="Enter Your Subject" required="">
                {% endif %}
                <div class="invalid-feedback">
              Subject cannot be blank.
            </div>
            </div>
            <div class="form-group">
                <label for="comment">Review</label>
                {% if status %}
                <textarea class="form-control" id="comment" name="comment" rows="3"
                    placeholder="Enter Your Review" required="">{{comments.comment}}</textarea>
                {% else %}
                <textarea class="form-control" id="comment" name="comment" rows="3"
                    placeholder="Enter Your Review" required=""></textarea>
                {% endif %}
                <div class="invalid-feedback">
              Review cannot be blank.
            </div>
            </div>
            <div class="form-group">
                <div class="input-rating">
                    <label for="rating">Rating</label><br>
                    <div class="stars">
                        <input class="star star-5" id="star-5" type="radio" name="rating" value="5" {% if comments.rating == 5 %} checked {% endif %} required="" />
                        <label class="star star-5" for="star-5"></label>
                        <input class="star star-4" id="star-4" type="radio" name="rating" value="4" {% if comments.rating == 4 %} checked {% endif %} required="" />
                        <label class="star star-4" for="star-4"></label>
                        <input class="star star-3" id="star-3" type="radio" name="rating" value="3" {% if comments.rating == 3 %} checked {% endif %} required="" />
                        <label class="star star-3" for="star-3"></label>
                        <input class="star star-2" id="star-2" type="radio" name="rating" value="2" {% if comments.rating == 2 %} checked {% endif %} required="" />
                        <label class="star star-2" for="star-2"></label>
                        <input class="star star-1" id="star-1" type="radio" name="rating" value="1" {% if comments.rating == 1 %} checked {% endif %} required="" />
                        <label class="star star-1" for="star-1"></label>
                        <div class="invalid-feedback">
              Ratings have to be defined.
            </div>
                    </div>
                </div>
            </div>
            <button class="btn btn-dark">Submit</button>
        </form>
        {% else %}
        <div class="message text-center" style="text-align:center">
            <h3>You must be logged in to post your review.</h3>
        </div>
        {% endif %}
    </div>
</div>

{% endblock body %}

{% block js %}
<script>
  (function () {
    'use strict'

    window.addEventListener('load', function () {
      // Fetch all the forms we want to apply custom Bootstrap validation styles to
      var forms = document.getElementsByClassName('review-form')

      // Loop over them and prevent submission
      Array.prototype.filter.call(forms, function (form) {
        form.addEventListener('submit', function (event) {
          if (form.checkValidity() === false) {
            event.preventDefault()
            event.stopPropagation()
          }
          form.classList.add('was-validated')
        }, false)
      })
    }, false)
  }())
</script>

{% endblock %}